---
title: Homepage
---

{% extends 'page.njk' %}

{% block body %}
  <div class="w-full overflow-hidden">
          <div class="flex flex-wrap max-w-6xl px-6 py-8 mx-auto">
            <div class="w-full py-8">
              <h4 class="text-6xl font-bold font-serif text-blue-900 leading-none tracking-tighter">
                Mehdi B.-O.
              </h4>
            </div>
            <div class="w-full py-8 text-2xl font-serif text-indigo-1000">
              <p class="pb-4">
                I provide 
                <span class="bg-indigo-100">strategic advisory services</span>
                and 
                <span class="bg-indigo-100">coaching</span>
                to develop a 
                <span class="bg-green-100">balanced</span>
                and
                <span class="bg-green-100">sustainable approach</span>
                to the development of your project.
              </p>
              <p class="py-4">
                I'm a staunch believer in 
                art
                and 
                <span class="bg-green-100">sustainable development</span>
                and embarked on a journey to advocate for it in everyday life, and on a professional level as well.
              </p>
              <p class="pt-4">I'm based in Paris, France 🇫🇷</p>
              <p class="pt-6">
              <span class="font-sans bg-indigo-100 text-sm sm:text-base text-gray-800 hover:text-blue-400 subpixel-antialiased px-1 py-1 rounded">#Prospective</span>
              <span class="font-sans bg-indigo-100 text-sm sm:text-base text-gray-800 hover:text-blue-400 subpixel-antialiased px-1 py-1 rounded">#Research</span>
              <span class="font-sans bg-indigo-100 text-sm sm:text-base text-gray-800 hover:text-blue-400 subpixel-antialiased px-1 py-1 rounded">#WebDevelopement</span>
              <a class="font-sans bg-indigo-100 text-sm sm:text-base text-gray-800 hover:text-blue-400 subpixel-antialiased px-1 py-1 rounded" href="https://jamstack.wtf/">#Jamstack</a>
              <span class="font-sans bg-indigo-100 text-sm sm:text-base text-gray-800 hover:text-blue-400 subpixel-antialiased px-1 py-1 rounded">#Thinking</span>

              </p>
              
            </div>
          </div>
          <div class="flex flex-wrap max-w-6xl px-6 py-2 mx-auto">
           
                <a href="https://calendly.com/mhdbo/first-call" class="bg-green-600 bg-opacity-75 font-serif text-xl hover:bg-blue-300 text-white font-bold py-2 px-4 rounded-full">
  Let's talk about your project
</a>
              </div>

</div>
{% endblock %}
